<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hengsu.sure.auth.repository.FriendRepository" >
  <resultMap id="BaseResultMap" type="com.hengsu.sure.auth.entity.Friend" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="a_id" property="aId" jdbcType="BIGINT" />
    <result column="b_id" property="bId" jdbcType="BIGINT" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, a_id, b_id, time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from friend
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from friend
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hengsu.sure.auth.entity.Friend" >
    insert into friend (id, a_id, b_id, time
      )
    values (#{id,jdbcType=BIGINT}, #{aId,jdbcType=BIGINT}, #{bId,jdbcType=BIGINT}, #{time,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hengsu.sure.auth.entity.Friend" >
    insert into friend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="aId != null" >
        a_id,
      </if>
      <if test="bId != null" >
        b_id,
      </if>
      <if test="time != null" >
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="aId != null" >
        #{aId,jdbcType=BIGINT},
      </if>
      <if test="bId != null" >
        #{bId,jdbcType=BIGINT},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hengsu.sure.auth.entity.Friend" >
    update friend
    <set >
      <if test="aId != null" >
        a_id = #{aId,jdbcType=BIGINT},
      </if>
      <if test="bId != null" >
        b_id = #{bId,jdbcType=BIGINT},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hengsu.sure.auth.entity.Friend" >
    update friend
    set a_id = #{aId,jdbcType=BIGINT},
      b_id = #{bId,jdbcType=BIGINT},
      time = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectCount" resultType="java.lang.Integer" parameterType="com.hengsu.sure.auth.entity.Friend" >
    select count(*) from friend
    <where >
      <if test="id != null" >
        and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="aId != null" >
        and a_id = #{aId,jdbcType=BIGINT}
      </if>
      <if test="bId != null" >
        and b_id = #{bId,jdbcType=BIGINT}
      </if>
      <if test="time != null" >
        and time = #{time,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <select id="selectPage" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from friend where 1 = 1 
    <if test="param1.id != null" >
      and id = #{param1.id,jdbcType=BIGINT}
    </if>
    <if test="param1.aId != null" >
      and a_id = #{param1.aId,jdbcType=BIGINT}
    </if>
    <if test="param1.bId != null" >
      and b_id = #{param1.bId,jdbcType=BIGINT}
    </if>
    <if test="param1.time != null" >
      and time = #{param1.time,jdbcType=TIMESTAMP}
    </if>
    <if test="param2.sort != null" >
      order by 
      <foreach collection="param2.sort" item="order" separator="," >
        ${order.property} ${order.direction}
      </foreach>
    </if>
    <if test="param2.offset >= 0 and param2.pageSize > 0" >
      limit ${param2.offset}, ${param2.pageSize}
    </if>
  </select>
</mapper>