<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hengsu.sure.invite.repository.IndentCommentRepository">
    <resultMap id="BaseResultMap" type="com.hengsu.sure.invite.entity.IndentComment">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="face_score" property="faceScore" jdbcType="DOUBLE"/>
        <result column="credit" property="credit" jdbcType="DOUBLE"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="indent_id" property="indentId" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="commentScore" type="com.hengsu.sure.invite.entity.IndentCommentScore">
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="face_score" property="faceScore" jdbcType="DOUBLE"/>
        <result column="credit" property="credit" jdbcType="DOUBLE"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, face_score, credit, content, indent_id, user_id, create_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from indent_comment
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectScore" resultMap="commentScore">
  select i.customer_id as user_id,avg(c.face_score) as face_score,avg(c.credit) as credit
    from indent_comment c , indent i
    where c.indent_id=i.id
    group by customer_id
  </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from indent_comment
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.hengsu.sure.invite.entity.IndentComment">
    insert into indent_comment (id, face_score, credit, 
      content, indent_id, user_id, 
      create_time)
    values (#{id,jdbcType=BIGINT}, #{faceScore,jdbcType=DOUBLE}, #{credit,jdbcType=DOUBLE},
      #{content,jdbcType=VARCHAR}, #{indentId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.hengsu.sure.invite.entity.IndentComment">
        insert into indent_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="faceScore != null">
                face_score,
            </if>
            <if test="credit != null">
                credit,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="indentId != null">
                indent_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="faceScore != null">
                #{faceScore,jdbcType=DOUBLE},
            </if>
            <if test="credit != null">
                #{credit,jdbcType=DOUBLE},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="indentId != null">
                #{indentId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hengsu.sure.invite.entity.IndentComment">
        update indent_comment
        <set>
            <if test="faceScore != null">
                face_score = #{faceScore,jdbcType=DOUBLE},
            </if>
            <if test="credit != null">
                credit = #{credit,jdbcType=DOUBLE},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="indentId != null">
                indent_id = #{indentId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hengsu.sure.invite.entity.IndentComment">
    update indent_comment
    set face_score = #{faceScore,jdbcType=DOUBLE},
      credit = #{credit,jdbcType=DOUBLE},
      content = #{content,jdbcType=VARCHAR},
      indent_id = #{indentId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="selectCount" resultType="java.lang.Integer" parameterType="com.hengsu.sure.invite.entity.IndentComment">
        select count(*) from indent_comment
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="faceScore != null">
                and face_score = #{faceScore,jdbcType=DOUBLE}
            </if>
            <if test="credit != null">
                and credit = #{credit,jdbcType=DOUBLE}
            </if>
            <if test="content != null">
                and content = #{content,jdbcType=VARCHAR}
            </if>
            <if test="indentId != null">
                and indent_id = #{indentId,jdbcType=BIGINT}
            </if>
            <if test="userId != null">
                and user_id = #{userId,jdbcType=BIGINT}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
    <select id="selectPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from indent_comment where 1 = 1
        <if test="param1.id != null">
            and id = #{param1.id,jdbcType=BIGINT}
        </if>
        <if test="param1.faceScore != null">
            and face_score = #{param1.faceScore,jdbcType=DOUBLE}
        </if>
        <if test="param1.credit != null">
            and credit = #{param1.credit,jdbcType=DOUBLE}
        </if>
        <if test="param1.content != null">
            and content = #{param1.content,jdbcType=VARCHAR}
        </if>
        <if test="param1.indentId != null">
            and indent_id = #{param1.indentId,jdbcType=BIGINT}
        </if>
        <if test="param1.userId != null">
            and user_id = #{param1.userId,jdbcType=BIGINT}
        </if>
        <if test="param1.createTime != null">
            and create_time = #{param1.createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="param2.sort != null">
            order by
            <foreach collection="param2.sort" item="order" separator=",">
                ${order.property} ${order.direction}
            </foreach>
        </if>
        <if test="param2.offset >= 0 and param2.pageSize > 0">
            limit ${param2.offset}, ${param2.pageSize}
        </if>
    </select>

    <select id="selectCommentCount" resultType="java.lang.Integer" parameterType="java.lang.Long">
        SELECT count(1) FROM indent_comment c ,indent i
            where c.indent_id = i.id
            and i.seller_id= #{id,jdbcType=BIGINT}
            and c.content is not null
    </select>
    <select id="selectCommentPage" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT c.* FROM indent_comment c ,indent i
        where c.indent_id = i.id
        and i.seller_id= #{param1,jdbcType=BIGINT}
        and c.content is not null
        order by c.create_time desc
        <if test="param2.offset >= 0 and param2.pageSize > 0">
            limit ${param2.offset}, ${param2.pageSize}
        </if>
    </select>
</mapper>